{% extends 'templates/shared/_base_template.jinja2' %}

{% block main_content %}
    <div>
        <h1>Find Products by Type</h1>
    </div>

    <form class="standard-form" action="" method="POST">
        <div class="row">
            <div class="col-sm-2">
                <input class="form-control" type="text" name="prodtype" placeholder="Product Type: e.g. tv"/>
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="text" name="limit" placeholder="Limit"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btm-primary" type="submit">Submit</button>
            </div>
            <div class="col-sm-6"></div>
        </div>
    </form>

    {% if products %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>ItemId</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
            {% for prod in products %}
                <tr>
                    <td width="40%">{{ prod['name'] }}</td>
                    <td width="10%">{{ prod['itemId'] }}</td>
                    <td width="10%">{{ prod['regularPrice'] }}</td>
                    <td width="40%"><img src="{{ prod['imageUrl'] }}" class="img-thumbnail img-responsive" style="width:15%;height:15%"></td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock main_content %}

