{% extends 'templates/shared/_base_template.jinja2' %}

{% block main_content %}
    <div>
        <h1>Find Stores by ZipCode</h1>
    </div>

    <form class="standard-form" action="" method="POST">
        <div class="row">
            <div class="col-sm-2">
                <input class="form-control" type="text" name="zipcode" placeholder="Zip Code"/>
            </div>
            <div class="col-sm-2">
                <button class="btn btm-primary" type="submit">Submit</button>
            </div>
            <div class="col-sm-8"></div>
        </div>
    </form>

    {% if stores %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Distance (mi)</th>
            </tr>
            {% for store in stores %}
                <tr>
                    <td>{{ store['name'] }}</td>
                    <td>{{ store['address'][0] }}</td>
                    <td>{{ store['city'] }}</td>
                    <td>{{ store['distance'] | round(2, 'floor') }}</td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock main_content %}

